/**
 * @name DreamVision
 * @author Zerthox, Xerons & FlexGames
 * @version 1.1
 * @description Modern dreamy blue/RGB theme by Xerons & FlexGames | Based on ClearVision
 * @source https://github.com/ClearVision/v6
 * @website https://clearvision.gitlab.io/join
 */

/* IMPORT CSS */
@import url(https://clearvision.gitlab.io/v6/main.css);
@import url("https://tropix126.github.io/BetterDiscordStuff/aurora/addons/disableExpansions.css");
/*@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");*/  /* Radial Status */
/*@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css"); /* Hide user panel*/


/* ROLE COLOR PLUGIN */

/*
.members-1998pB .membersGroup-v9BXpm:before{
	background: var(--member-group-color-before) !important;

}

.members-1998pB .membersGroup-v9BXpm:after{
	background: var(--member-group-color-after) !important;
}
*/


:root {
	/* FOR ROLE COLOUR PLUGIN */
	/*--member-group-color-before: var(--gradient); --member-group-color-after: var(--gradient2);*/ /* uncomment this and line 19-28 to get the original effect back */

	/* ACCENT COLORS */
	--main-color: #2780e6; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #1e63b3; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--server-columns: 1; /* amount of server list columns [default: 1] */
	--channels-width: 240px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 240px; /* member list width [default: 240px] */
	--avatar-roundness: 50%; /* avatar roundness (0% for squares, 50% for circles) [default: 50%] */

	/* APP BACKGROUND */
	--background-shading: 100%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgba(0, 0, 0, 0.4); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: url(https://i.imgur.com/IDxcKFq.png); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)] 2.(https://i.imgur.com/IDxcKFq.png)*/
    --background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0,5px; /* app background blur [default: 0px] */

	/* HOME BUTTON ICON */
	/* --home-icon: url(https://i.pinimg.com/736x/11/78/18/117818a57225c3c4082879bb944af8f5.jpg); home button icon (link must be HTTPS) [default: url(https://clearvision.gitlab.io/icons/discord.svg)] */
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 40px; /* home button icon size [default: 40px] */

	/* MODAL BACKDROP */
	--backdrop-overlay: rgba(0, 0, 0, 0.8); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
	--backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(---background-image)] */
	--backdrop-position: var(--background-position); /* modal backdrop position [default: var(---background-position)] */
	--backdrop-size: var(--background-size); /* modal backdrop size [default: var(---background-size)] */
	--backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(---background-repeat)] */
	--backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
	--backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(---background-contrast)] */
	--backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(---background-saturation)] */
	--backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(---background-invert)] */
	--backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(---background-grayscale)] */
	--backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(---background-sepia)] */
	--backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */

	/* USER POPOUT BACKGROUND */
	--user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-popout-position: var(--background-position); /* user popout background position [default: var(---background-position)] */
	--user-popout-size: var(--background-size); /* user popout background size [default: var(---background-size)] */
	--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(---background-repeat)] */
	--user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
	--user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(---background-contrast)] */
	--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(---background-saturation)] */
	--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(---background-invert)] */
	--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-popout-blur: calc(var(--background-blur) + 3px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */

	/* USER MODAL BACKGROUND */
	--user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-modal-position: var(--background-position); /* user modal background position [default: var(---background-position)] */
	--user-modal-size: var(--background-size); /* user modal background size [default: var(---background-size)] */
	--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(---background-repeat)] */
	--user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
	--user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(---background-contrast)] */
	--user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(---background-saturation)] */
	--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(---background-invert)] */
	--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-modal-blur: calc(var(--background-blur) + 3px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */


/*ADDONS */

/* THEME BD COLORS */
--bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
--bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */

/*  STATUSES  */
--rs-small-spacing: 2px;  /* spacing between avatar and status */
--rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
--rs-width: 2px;  /* Width/thickness of status border */
--rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
--rs-online-color: #00FF00;  /* color for online status */
--rs-idle-color: #ffff00;  /* color for idle status */
--rs-dnd-color: #ff0000;  /* color for dnd status */
--rs-offline-color: #e5e5e5;  /* color for offline status */
--rs-streaming-color: #5e00ff;  /* color for streaming status */
--rs-invisible-color: #cc00ff;  /* color for invisible status - Note this will only show for your own invisibility */
--show-gift-gif-buttons: none; /* show gift gif buttons */

/*  GRADIENT  */
--gradient: linear-gradient(215deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
--gradient2: linear-gradient(215deg, rgb(112, 255, 219) 0%, rgb(80, 142, 200) 46%, rgb(67, 65, 208) 100%);
--gradient3: linear-gradient(215deg, rgba(64, 87, 208, 0.4) 0%, rgba(200, 80, 192, 0.4) 46%, rgba(255, 204, 112, 0.4) 100%);
--gradient4: linear-gradient(215deg, rgba(64, 87, 208, 0.2) 0%, rgba(200, 80, 192, 0.2) 46%, rgba(255, 204, 112, 0.2) 100%);
}

.form-2fGMdU .buttonWrapper-1ZmCpA.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj {
display: var(--show-gift-gif-buttons);
}

.typeWindows-1za-n7 > .wordmark-2iDDfm:after, .container-3baos1:before, .container-3baos1:after {display: none;}
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {content: "CV | Xerons & FlexGames Edit";}
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {content: "CV | Xerons & FlexGames Edit";}

/* what shall I call this?? Credits? Marking the authors of this edit? */

.message-2qnXI6[data-user-id*="863504815706079272"] > div.contents-2mQqc9 > h2 > span.headerText-3Uvj1Y > span:after {
	content: "DreamVision Editor";
}

/* search in Home Tab */ 

.result-oB0z--[role="button"] {
	background-color: rgba(0, 60, 129, 0.15);
	transition: all 90ms ease-in-out;
	opacity: 0.5;
}

.result-oB0z--[role="button"]:hover {
	background-image: var(--gradient2);
	opacity: 1;
	transition: all 90ms ease-in-out;
}

.result-oB0z--:not([role="button"]) {
	cursor: auto;
}

.result-oB0z--[role="button"]:hover .note-S--UP5, .result-oB0z--[role="button"]:hover .miscContainer-2ptJ_C, .result-oB0z--[role="button"]:hover .username-2hHyRL {
	color: black;
	transition: all 90ms ease-in-out;
}

#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > input {
	background-color: rgba(255, 255, 255, 0.061);
	transition: all 125ms ease-in-out;
}

#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > input:focus, #app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > input:focus-within {
	background-color: rgba(255, 255, 255, 0.219);
	border: solid 2px var(--main-color);
	transition: all 125ms ease-in-out;
}

/*google translate plugin*/
.theme-dark .themedPopout-1TrfdI {background-color: var(--background-overlay) !important;}

#app-mount .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU {
  background: var(--gradient) !important;
}

::-webkit-scrollbar {
  width: px !important;
  height: px !important;
}

/* avatar upload */
.avatarUploaderInner-3UNxY3:hover {
	transform: scale(0.98);
}

/* server boost status */
.icon-3Povsy {
	margin-right: 20px;
}

/* hiding microphone,.. at bottom-left */
.container-3baos1:last-child .noWrap-3jynv6 {
  width: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}
.container-3baos1:hover .noWrap-3jynv6 {
  width: 150px;
  opacity: 1;
  pointer-events: all;
}

/*user popout profile picture*/
.avatarWrapper-3H_478 .wrapper-3t9DeA:hover{
	transform: scale(0.97);
}

/* user profile */

.avatar-AvHqJA.wrapper-3t9DeA {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
}

.avatar-37jOim.wrapper-3t9DeA {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
}

/*channel colours*/

/* channel list background */
.scroller-RmtA4e {
	background-color: rgba(0, 0, 0, 0.281);
}

/* vc user limit */
.userLimit-3aerPX .users-3kndPl {
	background-color: rgba(0, 19, 70, 0.418);
	color: rgba(255, 255, 255, 0.253);
}

.modeConnected-3IsKId .users-3kndPl {
  color: var(--main-color);
  text-shadow: 0 0 1px;
}

.userLimit-3aerPX .total-i6us2n {
	background-color: rgba(0, 33, 124, 0.568);
	color: rgba(255, 255, 255, 0.459);
}

/* normal */
.content-1x5b-n .name-23GUGE{
	color: rgba(0, 162, 255, 0.541);
}

.content-1x5b-n .icon-1DeIlz{
	color: rgba(0, 110, 255, 0.562);
}

/* unread */
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: rgb(138, 255, 245);
  text-shadow: 0 0 3px;
}

.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: rgb(157, 224, 255);
  filter: drop-shadow(0 0 3px);
  opacity: 1;
}

/* muted */
.wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color:  rgba(128, 0, 11, 0.753);
}

.wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz{
	color: rgba(163, 43, 43, 0.527);
}

/* normal hover */
.containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE{
	color: rgb(173, 243, 255);
}

.containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz{
	color: rgb(117, 161, 255)
}

/* muted hover */
.wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color:  rgb(255, 0, 64) !important;
}

.wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz{
	color: rgba(247, 57, 57, 0.753) !important;
}


/* normal select */
.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz{
	color: rgba(198, 218, 255, 0.904);
}

.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n:after {
  right: 0;
  background: var(--gradient2);
  -webkit-animation: cv-channel-select 200ms ease-in-out;
          animation: cv-channel-select 200ms ease-in-out;
}

.channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after {
	  right: 0;
  background: var(--gradient2) !important;
  -webkit-animation: cv-channel-select 200ms ease-in-out;
          animation: cv-channel-select 200ms ease-in-out;
}

@-webkit-keyframes cv-channel-select {
  from {
    right: 100%;
    background-color: transparent;
  }
  to {
    right: 0;
    background-color: var(--gradient2) !important;
  }
}

@keyframes cv-channel-select {
  from {
    right: 100%;
    background-color: transparent;
  }
  to {
    right: 0;
    background-color: var(--gradient2);
  }
}

/*voicechannel persons*/

.wrapper-3BZGuR {
	transition: transform 100ms ease-in-out;
}

.wrapper-3BZGuR:hover {
	transform: scale(0.995);
	transition: transform 100ms ease-in-out;
}

.wrapper-3BZGuR:active {
	-webkit-animation: breath 7s linear infinite;
          animation: breath 7s linear infinite;
}

@-webkit-keyframes breath {
	0% {
		transform: scale(0.995);
	}
	50% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.995);
	}
  }
  @keyframes breath {
	0% {
		transform: scale(0.995);
	}
	50% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.995);
	}
  }

.border-3dQmSY:not(.speaking-WDn8Wm) {
	transition: box-shadow 250ms ease-in-out;
}

.border-3dQmSY.speaking-WDn8Wm {
	box-shadow: inset 0 0 0 2px rgb(0, 150, 187) !important;
	transition: box-shadow 250ms ease-in-out;
}

.voiceUser-1K6Xox .avatarSpeaking-2IGMRN {
	box-shadow: 0 0 0 2px var(--main-color), inset 0 0 3px rgba(0, 0, 0, 0.5);
}

#channels > div > div:nth-child(23) > div.list-2luk8a.collapsed-21_y8I div > div > div:after {
	content: "";
	position: absolute;
	width: 0;
	top: 0;
	bottom: 0;
	left: 50%;
	background: transparent !important;
	opacity: 0.5;
	transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
	pointer-events: none;
	z-index: -1;
}

/*colors accents*/

.name-IbjUBS:before{
	background: var(--gradient) !important;
}

.name-IbjUBS:after{
	background: var(--gradient2) !important;
}

.item-2hkk8m {
	background: var(--hover-color)
}

/*text area*/
.channelTextArea-rNsIhG .scrollableContainer-2NUZem:focus-within {
		border: double 0.1em transparent;
   	border-radius: 10px;
   	background-image: linear-gradient(black,black),
                     linear-gradient(215deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   	background-origin: border-box;
   	background-clip: content-box, border-box;
		box-shadow: 48vw 0px 30px #4158D0, 24vw 0px 30px #C850C0, 0vw 0px 30px #FFCC70;
		transition: box-shadow linear 250ms;
	margin: auto;
}

.channelTextArea-2VhZ6z:focus-within {
	box-shadow: none !important;
}

.channelTextArea-rNsIhG .scrollableContainer-2NUZem:not(focus-within) {
	border: double 0.01em transparent;
	border-radius: 10px;
	background-image: linear-gradient(black,black),
									 linear-gradient(215deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	transition: box-shadow linear 250ms;
}

.item-1tOPte {
	opacity: 0.5;
	background-color: transparent !important;
	-webkit-animation: cv-channel-select 250ms ease-in-out;
          animation: cv-channel-select 250ms ease-in-out;
}

.item-1tOPte:hover {
	background-color: transparent !important;
	background-image: var(--gradient);
	opacity: 1;
	transition: opacity 125ms ease-in-out;
}

/*User Popout DM & Note*/

.inputWrapper-31_8H8:not(.emojiAliasInput-1y-NBz){
		border: double 0.01em transparent;
	border-radius: 5px;
	background-image: linear-gradient(black,black),
									 linear-gradient(215deg, rgb(65, 208, 77) 0%, rgb(64, 61, 228) 46%, rgb(255, 112, 112) 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	transition: all 125ms ease-in-out;
}

.inputWrapper-31_8H8:focus-within {
	transform: scale(1.02);
	transition: all 125ms ease-in-out;
}

.input-cIJ7To {
	box-shadow: none !important;
}

.note-3HfJZ5 {
	display: flex;
	border: double 0.01em rgba(109, 68, 255, 0.445);
	border-radius: 5px;
	background-color: rgba(104, 195, 247, 0.13);
	background-origin: border-box;
	background-clip: content-box, border-box;
	transition: background-color, border 250ms ease-in-out;
}

.note-3HfJZ5:focus-within {
	border: double 0.01em rgba(170, 180, 36, 0.445);
	border-radius: 5px;
	background-color: rgba(98, 44, 247, 0.13);
	background-origin: border-box;
	background-clip: content-box, border-box;
	transition: background-color, border 250ms ease-in-out;
}

/*8.b. Messages*/

/* when editing message */

.channelTextArea-3bF57p {
	margin-left: 55px;
	width: 94.5%;
}

.operations-36ENbA {
	margin-left: 57px;
}
/* reply picture icon */

.content-1o0f9g {
	background-color: rgb(0, 0, 0);
}

.username-1A8OIy {
	border-radius: 3px;
}

.headerText-3Uvj1Y {
	margin-top: -10px;
	margin-bottom: -10px;
}

.wrapper-3WhCwL.mention {
	background-color: rgba(3, 30, 88, 0.548);
}

.reactions-12N0jA {
	padding-bottom: 5px !important;
}
.repliedMessage-VokQwo::before {
	margin-left: 20px;
}

.repliedMessage-VokQwo {
	margin-left: 20px;
}

.repliedTextPreview-2NBljf,
.repliedTextPreview-2NBljf .repliedTextContent-1R3vnK {
	transition: all 125ms ease-in-out;
	padding-left: 2px !important;
	padding-bottom: 1px;
}

.repliedTextContent-1R3vnK {
	margin-right: 0px !important;
}

.repliedTextPreview-2NBljf {
	width: 100%;
}

@keyframes headerBlurDelay {
	0% {
		backdrop-filter:blur(0);
	}
	100% {
		backdrop-filter:blur(10px);
	}
}

.cozy-3raOZG .header-23xsNx {
	padding: 0;
	margin: 0;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.05);
	position: relative;
	display: flex;
	align-items: center;
	z-index:10;
	width:70%;
	border-radius: 5px;
}

.full-motion .cozy-3raOZG .header-23xsNx {
	animation:headerBlurDelay 0ms ease forwards;
	animation-delay:500ms;
	backdrop-filter: blur(10px);
}

.message-2qnXI6,
.cozy-3raOZG.wrapper-2a6GCs:not(.message-2qnXI6) {
	background: rgba(255, 255, 255, 0.05) !important;
	border-left: 2px solid rgba(255, 255, 255, 0.1) !important;
	border-top: 2px solid rgba(255, 255, 255, 0.1) !important;
	margin: 0 20px;
	padding-right:0;
	border-radius: 3px;
	height: min-content;
}


.message-2qnXI6.mentioned-xhSam7,
.cozy-3raOZG.wrapper-2a6GCs:not(.message-2qnXI6) {
	border-left: 2px solid rgba(0, 255, 255, 0.1) !important;
	border-top: 2px solid rgba(0, 255, 255, 0.1) !important;
	background-color: rgba(0, 140, 255, 0.123) !important;
}


.cozy-3raOZG.wrapper-2a6GCs {
	padding-top:0;
	padding-right:0;
}

.cozy-3raOZG.wrapper-2a6GCs,
.cozy-3raOZG .contents-2mQqc9 {
	padding-left:0;
}

.cozy-3raOZG .contents-2mQqc9 {
	margin:0;
}

.groupStart-23k01U .messageContent-2qWWxC {
	padding-top:.25rem;
}

.cozy-3raOZG .messageContent-2qWWxC {
	margin-left:0;
	padding-left:55px;
	padding-bottom:0px;
	font-size:var(--size1) !important;
	max-width:calc(100% - 125px);
	position:relative;
}

.full-motion .cozy-3raOZG .messageContent-2qWWxC {
	animation: transitionIn .35s ease-in-out;
}

.cozy-3raOZG + .cozy-3raOZG:not(.groupStart-23k01U) .container-1ov-mD:not(:empty),
.isUnread-3Ef-o9 + .cozy-3raOZG:not(.groupStart-23k01U) .container-1ov-mD:not(:empty) {
    position: relative;
    width: 100%;
}

.cozy-3raOZG .contents-2mQqc9 .avatar-1BDn8e {
	z-index:1;
	left: 0;
	margin: 0 10px;
	display: block;
	margin-top: calc(30px + .25em);
	height: 32px !important;
	width: 32px !important;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .15);
	transition: 150ms ease box-shadow;
}

.cozy-3raOZG .contents-2mQqc9 .avatar-1BDn8e:hover {
	box-shadow: 0 0 0 2px var(--accent)
}

.cozy-3raOZG .header-23xsNx .username-1A8OIy {
	border-left: 3px solid currentColor;
	height: 40px;
	padding-left: 8px;
	padding-top: 1px;
	line-height: normal;
	vertical-align: middle;
	align-items: center;
	box-shadow: inset 10px 0 10px -12px currentColor;
	text-shadow: 0 0 12px currentColor;
	font-size: var(--size1);
	display: inline-flex;
}

.replyAvatar-1K9Wmr {
	padding-top: 2px;
}

#app-mount .header-23xsNx .botTag-2WPJ74 {
	order:0;
	margin-right:0;
	margin-left:4px;
	margin-top:10px;
}

.groupStart-23k01U .markup-2BOw-j {
    padding-bottom: 0;
}

.groupStart-23k01U {
    padding-bottom: 25px !important;
}

.container-1ov-mD {
	margin-left: 55px;
	padding-top:.65rem;
}

.isUnread-3Ef-o9 {
	top: -24px;
	margin: 0 !important;
}

.timestamp-3ZCmNB {
	font-size: var(--size3) !important;
	cursor: auto;
	user-select: none;
}

.avatar-1BDn8e[src*="254362351170617345"] + h2 .timestamp-3ZCmNB::before {
	content: 'Theme Dev';
	text-transform: uppercase;
	font-size: 10px !important;
	font-weight: 500;
	padding: 2px 4px;
	line-height: normal;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	border: 2px solid #e78e4e;
	background: rgba(231, 142, 78, 0.5);
	text-shadow: none;
	color: rgba(255, 255, 255, 0.95);
	position: absolute;
	right: 0px;
	margin: 0 6px;
	top: 50%;
	transform: translateY(-50%);
	cursor: default;
}

.avatar-1BDn8e + h2::after,
#app-mount .avatar-1BDn8e:hover + h2::after {
	left:36px !important;
	bottom:-50px !important;
	font-size:var(--size2) !important;
	border-radius:0;
}

.separator-42rNt0,
.timestamp-3ZCmNB.alt-1uNpEt,
.isUnread-3Ef-o9,
.mentioned-xhSam7:before,
.contents-2mQqc9 .avatar-1BDn8e[src*="402272736665272320"] + h2::before {
	display: none;
}

.wrapper-2aW0bm {
	background-color: rgba(0, 0, 0, 0.568);
	transition: background-color 125ms ease-in-out;
}

.wrapper-2aW0bm:hover {
	background-color: rgba(0, 0, 0, 0.87);
	transition: background-color 125ms ease-in-out;
}

.container-3npvBV {
	top: -30px !important;
	background: transparent !important;
}

.buttonContainer-DHceWr .buttons-cl5qTG .button-1ZiXG9 {
	background-color: rgba(238, 238, 238, 0.062);
	top: 0;
	min-height: 20px !important;
	min-width: 20px !important;
	padding:20;
	transition: color 125ms ease-in-out, background-color 125ms ease-in-out;
}

.buttonContainer-DHceWr .buttons-cl5qTG .button-1ZiXG9:hover {
	background-color: rgba(255, 255, 255, 0.178);
	transition: color 125ms ease-in-out, background-color 125ms ease-in-out;
	color: rgba(250, 211, 40, 0.836)
}

.button-1ZiXG9.dangerous-2r8KxV {
	color: rgba(255, 0, 0, 0.747) !important;
}

.button-1ZiXG9.dangerous-2r8KxV:hover {
	color: rgba(192, 0, 0, 0.747) !important;
}

.icon-3Gkjwa {
	height: 30px;
	width: 30px;
}

.isHeader-2dII4U {
	top: 28px !important;
}

.beforeGroup-1rH1F0 {
	display: flex !important;
}

.emoji.jumboable {
	width: 2rem;
	height: 2rem;
	margin-right: 2px;
	min-height: unset;
}

.fav {
	background-color:var(--accent);
	border-radius:50px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTExLjk5IDJDNi40NyAyIDIgNi40OCAyIDEyczQuNDcgMTAgOS45OSAxMEMxNy41MiAyMiAyMiAxNy41MiAyMiAxMlMxNy41MiAyIDExLjk5IDJ6bTQuMjQgMTZMMTIgMTUuNDUgNy43NyAxOGwxLjEyLTQuODEtMy43My0zLjIzIDQuOTItLjQyTDEyIDVsMS45MiA0LjUzIDQuOTIuNDItMy43MyAzLjIzTDE2LjIzIDE4eiIvPjwvc3ZnPg==);
	background-size:cover;
	background-repeat:no-repeat;
	top:-2px;
	width:12px;
	height:12px;
}


.avatar-VxgULZ {
	border-radius:var(--user-roundness);
}

.message-2qnXI6:not(.groupStart-23k01U) .message-2qnXI6.groupStart-23k01U {
	position:relative;
}

.backgroundFlash-24qWLN {
	background:transparent !important;
	padding-bottom:0 !important;
	margin:0 20px;
	position:relative;
}

.backgroundFlash-24qWLN .cozy-3raOZG.wrapper-2a6GCs {
	margin:0;
}

.backgroundFlash-24qWLN::after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:.25;
	background: var(--accent) !important;
	transition: background-color .3s ease;
	z-index:-1;
}

/* 'Copy' Button on Server Invite */

#app-mount > div:nth-child(9) > div.layer-2KE1M9 > div > div > div > div.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp.footer-1FPmkC > div > div.input-cIJ7To.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs > button.copyButton-1I8hd3.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN {
	margin-left: 10px;
}

#app-mount > div:nth-child(9) > div.layer-2KE1M9 > div > div > div > div.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp.footer-1FPmkC > div > div.input-cIJ7To.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs {
	background-color: transparent;
}

/*USER LIST*/

.peopleListItem-2nzedh, .peopleListItem-2nzedh:hover {
    height: 100px !important;
    width: 320px;
		background-color: rgba(0, 0, 0, 0.521);
    display: inline-grid;
    padding: 0 20px;
    margin: 15px;
    border-radius: 7px;
    box-shadow: 0 0 0 2px rgba(29, 123, 247, 0.432) inset;
	transition: all 250ms ease-in-out;
}

.peopleListItem-2nzedh:hover {
	box-shadow: 0 0 2px 2px rgb(0, 11, 158);
}

.peopleListItem-2nzedh {
    background-color: rgba(0,0,0,0.4);
}

.actionButton-uPB8Fs {
	transition: all 125ms ease-in-out;
}

.discriminator-22Okc1 {
	opacity: 0;
	transition: opacity 125ms ease-in-out;
}

.userInfo-2zN2z8.hovered-15FzL3 .discriminator-22Okc1 {
	opacity: 0.5;
	transition: opacity 300ms ease-in-out;
}

.userInfo-2zN2z8 {
    max-width: 190px;
}

.peopleListItem-2nzedh:hover .actionButton-uPB8Fs {
	background-color: var(--main-color);
}

.peopleListItem-2nzedh .actionButton-uPB8Fs:hover {
	background-color: var(--hover-color);
}

/* user activity */
.itemCard-v9viV7:hover {
	box-shadow: 0 0 2px 2px rgb(0, 11, 158);
	transition: all 125ms ease-in-out;
}

.itemCard-v9viV7 {
	transition: all 125ms ease-in-out;
}

.colorHeaderSecondary-3Sp3Ft {
	transition: all 125ms ease-in-out;
}

.colorHeaderSecondary-3Sp3Ft:hover {
	color: var(--main-color);
	transition: all 125ms ease-in-out;
}

/*NITRO BACGROUND*/

.scroller-9moviB{
	background-color: rgba(0,0,0,0.4);
}

/*MENU BACKGROUND*/

.side-8zPYf6{
	background-color: rgba(0,0,0,0.6)
}

.contentColumnDefault-1VQkGM{
	background-color: rgba(0,0,0,0.6);
}

.emptyState-1pmlaK{
	background-color: rgba(0,0,0,0.4);
}

.sidebarScrollable-1qPI87+.content-1rPSz4{
background-color: rgba(0,0,0,0.4);
}

/*better channels text*/
.content-3at_AU .name-3_Dsmg{
	color: rgba(255, 255, 255, 0.8);
}

.content-3at_AU .icon-1_QxNX{
	color: rgba(255, 255, 255, 0.8)
}

.wrapper-1ucjTd.modeMuted-3osy7j .content-3at_AU .icon-1_QxNX{
color: rgba(255, 0, 0, 0.35)
}

.wrapper-1ucjTd.modeMuted-3osy7j .content-3at_AU .name-3_Dsmg{
	color: rgba(255, 255, 255, 0.35);
}

/*hover mark on chanels, users or servers*/
.content-3at_AU:hover{
 background: var(--gradient3) !important;
}

.layout-2DM8Md:hover{
	 transform: translateY(1px);
	 background: var(--gradient3) !important;
}

.members-1998pB .member-3-YXUe .layout-2DM8Md:active {
  transform: scale(0.97);
}

.item-2hkk8m{
	background-color: black;
	box-shadow: 0 0 2px 2px rgb(0, 11, 158);
}

.layout-2DM8Md:active{
	transform: scale(0.99);
}

.border-3dQmSY.da-border.speaking-WDn8Wm.da-speaking{
	background: var(--gradient4) !important;
	z-index: -99999 !important;
}

/*video background*/

.fullscreen-bg video,
.fullscreen-bg-video{
  position: fixed;
  top: 50%; left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}




/* Update 1.1 Stuff */

/* Boost Server Stuff */
.planSelectorWrapper-26xZEm .inputWrapper-31_8H8 {
	border-radius: 0px;
	border: 1.5px solid #9700bd;
	transition: all 125 ease-in-out;
	background-image: none !important;
}

.iconWrapper-3LVgIo {
	background: none !important;
}

.icon-TYbVk4 {
	height: 100%;
}

.iconWrapper-3LVgIo > :not(.disabled-24YXy-) {
	background-color: #9700bd;
	color: black;
}

.iconWrapper-3LVgIo > :not(.disabled-24YXy-):hover {
	background-color: rgb(133, 0, 167);
	color: black;
}

.iconWrapper-3LVgIo > .disabled-24YXy-, .iconWrapper-3LVgIo > .disabled-24YXy-:hover {
	background-color: rgba(102, 19, 105, 0.575);
	color: white;
}

.focusLock-Ns3yie .close-hZ94c6 {
	color: rgba(255, 255, 255, 0.63);
}

.focusLock-Ns3yie .close-hZ94c6:hover {
	color: rgb(255, 255, 255);
}

 /*better banner servers*/
 .animatedContainer-1NSq4T, .bannerImage-3KhIJ6 {
	height: 135px;
	top: 0;
	left: 0;
	z-index: 2;
}
	
/*better menu context*/
.menu-3sdvDG .item-1tOPte {
	color: rgb(181, 234, 247);
}

.menu-3sdvDG .colorDanger-2qLCe1{
	color: rgb(247, 110, 110);
}

/*better buttons - rest*/

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div:nth-child(5) > div.children-rWhLdy > div.buttonContainer-1zBNxN > button.disableButton-220a9y.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan.sizeSmall-2cSMqn.grow-q77ONN{
	border-radius: 12px;
	transition: all .2s ease;
	  
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div:nth-child(5) > div.children-rWhLdy > div.buttonContainer-1zBNxN > button.button-38aScr.lookOutlined-3sRXeN.colorRed-1TFJan.sizeSmall-2cSMqn.grow-q77ONN {
	border-radius: 12px;
	transition: all .2s ease;	
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div.userSettingsSecurity-3IYeMF.marginTop40-i-78cZ > div.children-rWhLdy > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 > div > div > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.marginBottom20-32qID7 > div:nth-child(2) > button {
	border-radius: 12px;
	transition: all .2s ease;	
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div:nth-child(2) > div > div.contentRegion-3nDuYy > div > div > main > div > div.userSettingsSecurity-3IYeMF.marginTop40-i-78cZ > div.children-rWhLdy > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 > div > div > div.marginTop40-i-78cZ > div.children-rWhLdy > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 > button {
	border-radius: 12px;
	transition: all .2s ease;	
}

.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY, .appMount-3lHmkl .lookFilled-1Gx00P.colorGrey-2DXtkV, .appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91, .appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6{
	border-radius: 12px;
	transition: all .2s ease;	
}

.sizeSmall-2cSMqn{
	border-radius: 12px;
	transition: all .2s ease;	
}

.appMount-3lHmkl .lookOutlined-3sRXeN.colorWhite-rEQuAQ, .appMount-3lHmkl .lookOutlined-3sRXeN.colorPrimary-3b3xI6, .appMount-3lHmkl .lookOutlined-3sRXeN.colorGreen-29iAKY, .appMount-3lHmkl .lookOutlined-3sRXeN.colorBrand-3pXr91{
	border-radius: 12px;
	transition: all .2s ease;	
}

/*better server option background*/

.contentColumn-2hrIYH, .customColumn-Rb6toI{
	background-color: rgba(0,0,0,0.6);
}

/*better nitro background*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.applicationStore-1pNvnv > div > div > div.premiumContainer-2Iux5m{
	background-color: rgba(0,0,0,0.4);
}
#app-mount > div:nth-child(9) > div > div.perksModal-fSYqOq.auto-Ge5KZx.scrollerBase-289Jih > div.perksModalContentWrapper-2HU6uL{
	background-color: rgba(0,0,0,0.2);
}

/*hover on channels and better connected channel*/
.content-1x5b-n:hover{
	transform: translateY(1px);
	background: var(--gradient3) !important;
	z-index: 1;
}

.wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: rgb(66, 210, 247);
    text-shadow: 0 0 3px!important;
}

.wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz{
	color: rgb(66, 210, 247);
    text-shadow: 0 0 3px;

}

/*better jump button*/ 
.jumpButton-2F6EMx{
	z-index: 99999;
	background-color: rgb(55, 80, 192);
	color: rgb(255, 255, 255)!important;
}

.jumpButton-2F6EMx:hover{
	z-index: 99999;
	background-color: rgb(67, 101, 253)!important;
	color: rgb(255, 255, 255)!important;
	text-shadow: 0 0 3px!important;
}

.button-11zvza{
	z-index: 99999;
	background-color: rgb(55, 80, 192)!important;
	color: rgb(255, 255, 255)!important;
}

.button-11zvza:hover{
	z-index: 99999;
	background-color: rgb(67, 101, 253)!important;
	color: rgb(255, 255, 255)!important;
	text-shadow: 0 0 3px!important;
}

/* Hide Nitro gift button */
button[aria-label="Send en gave"], button[aria-label="Ein Geschenk senden"], button[aria-label="Send a gift"], button[aria-label="Enviar un regalo"], button[aria-label="Envoyer un cadeau"], button[aria-label="Pošalji poklon"], button[aria-label="Invia un regalo"], button[aria-label="Siųsti dovaną"], button[aria-label="Ajándék küldése"], button[aria-label="Verstuur een cadeau"], button[aria-label="Send en gave"], button[aria-label="Wyślij prezent"], button[aria-label="Enviar um presente"], button[aria-label="Trimite un cadou"], button[aria-label="Lähetä lahja"], button[aria-label="Skicka en gåva"], button[aria-label="Tặng một món quà"], button[aria-label="Bir hediye gönder"], button[aria-label="Odeslat dárek"], button[aria-label="Στείλτε ένα δώρο"], button[aria-label="Изпрати подарък"], button[aria-label="Отправить подарок"], button[aria-label="Надіслати подарунок"], button[aria-label="ส่งของขวัญ"], button[aria-label="发送礼物"], button[aria-label=""], button[aria-label="ギフトを贈る"], button[aria-label="發送禮物"], button[aria-label="선물 보내기"] {
    display: none;
}


/* Members Hide user panel (also background of it to block the gradient stuff of the message input)*/

.membersWrap-2h-GB4 {
	background: var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
  filter: grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur));
}

.membersWrap-2h-GB4:not(#dv-mount),.membersWrap-2h-GB4:not(#dv-mount) > div {
    min-width:70px!important;
    max-width:240px!important;
    width:60px;
 	transition: width 125ms;
}

.membersWrap-2h-GB4:not(#dv-mount) .membersGroup-v9BXpm > span {
	display: none;
}

.membersWrap-2h-GB4:not(#dv-mount) .membersGroup-v9BXpm:before, .membersWrap-2h-GB4:not(#dv-mount) .membersGroup-v9BXpm:after {
	margin: 0px;
}

.membersWrap-2h-GB4:hover:not(#dv-mount) .membersGroup-v9BXpm:before {
	margin-right: 5px;
}

.membersWrap-2h-GB4:hover:not(#dv-mount) .membersGroup-v9BXpm:after {
	margin-left: 5px;
}

.membersWrap-2h-GB4:hover:not(#dv-mount),.membersWrap-2h-GB4:hover:not(#dv-mount) > div{
    width:240px;
    transition: width 125ms;
}

.membersWrap-2h-GB4:hover:not(#dv-mount) .membersGroup-v9BXpm > span {
	display: block;
}

.membersWrap-2h-GB4:not(#dv-mount) .membersGroup-v9BXpm {
	padding-top: 0px;
	height: 10px;
	transition: all 125ms ease-in-out;
	padding-left: 12px;
}

.membersWrap-2h-GB4:hover:not(#dv-mount) .membersGroup-v9BXpm {
	padding-top: 20px;
	height: auto;
	transition: all 125ms ease-in-out;
	padding-left: 16px;
}

.membersWrap-2h-GB4 {
    flex-basis: auto;
    z-index: 10;
}

#dv-main .dv-date{
  white-space: normal;
}

.scroller-2TZvBN{
    background: rgba(0, 0, 0, 0.3);
}

/* home icon */

.homeIcon-FuNwkv:hover {
	background-color: rgb(0, 3, 194);
	transition: background-color 250ms ease-in-out;
}

.homeIcon-FuNwkv {
	background-color: rgba(2, 0, 136, 0.329);
	transition: background-color 250ms ease-in-out;
}

/* GIF & Emoji Button */

.contentWrapper-SvZHNd .navButton-2gQCx- {
	border-radius: 10px;
}

.contentWrapper-SvZHNd .navButton-2gQCx-.navButtonActive-1MkytQ {
	background-color: rgb(0, 68, 156) !important;
}

.contentWrapper-SvZHNd .navButton-2gQCx-:hover {
	background-color: rgba(106, 158, 255, 0.11);
	color: white;
}

/* diversity selector in emojies */

.diversitySelector-1v4_1A {
	transition: all 125ms ease-in-out;
}

.diversitySelector-1v4_1A:hover {
	background-color: rgba(106, 116, 255, 0.267);
	box-shadow: 0 0 2px 2px rgb(0, 68, 156);
	border-radius: 2px;
	transition: all 125ms ease-in-out;
}

.diversitySelectorOptions-4YM-vX {
	background-color: rgb(0, 68, 156);
}

.diversityEmojiItem-L6_IXw{
	transition: all 125ms ease-in-out;
}

.diversityEmojiItem-L6_IXw:hover {
	background-color: rgb(0, 96, 223);
	transition: all 125ms ease-in-out;
}

/* emoji button at bottom left */

.unicodeShortcut-15J8Ck {
  background-color: rgba(255, 217, 0, 0.945);
}

.unicodeShortcut-15J8Ck:hover {
  background-color: rgba(206, 175, 0, 0.644);
}

/* just the emojies in the emoji thing */

.emojiItem-14v6tW {
	background-color: transparent !important;
	border-radius: 5px !important;
	transition: background-color 100ms ease-in-out;
}

.emojiItem-14v6tW:hover {
	background-color: rgba(255, 248, 190, 0.219) !important;
	transition: background-color 100ms ease-in-out;
}

/* emoji header (group of emojies) */

.header-19cWci:hover .headerLabel-3dG4M-, 
.header-19cWci:hover .headerIcon-1qrXTN,
.header-19cWci:hover .arrow-gKvcEx {
	color: rgb(255, 217, 0);
	transition: all 200ms ease-in-out;
}

.header-19cWci .headerLabel-3dG4M-, 
.header-19cWci .headerIcon-1qrXTN,
.header-19cWci .arrow-gKvcEx {
	transition: all 200ms ease-in-out;
}

/* I don't know what I added here xD - FlexGames */

.inner-3ErfOT {
	transition: all 125ms ease-in-out;
}

.inner-3ErfOT:focus-within {
	background-color: rgba(156, 140, 0, 0.068);
	transition: all 125ms ease-in-out;
	box-shadow: none !important;
}

.inner-3ErfOT {
	box-shadow: none !important;
	border: var(--gradient);
}

/* Settings spin */
/* Cv spin All Langs - ONLY HITS USER SETTINGS */
.container-3baos1 .button-14-BFJ[aria-label="Brugerindstillinger"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Ajustes de usuario"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Benutzereinstellungen"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="User Settings"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Paramètres utilisateur"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Korisničke postavke"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Impostazioni utente"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Naudotojo Nustatymai"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Felhasználói beállítások"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label=Gebruikersinstellingen]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Brukerinnstillinger"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Ustawienia użytkownika"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Configurações de Usuário"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Setări utilizator"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Käyttäjäasetukset"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Användarinställningar"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Cài đặt người dùng"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Kullanıcı Ayarları"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Uživatelská nastavení"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Ρυθμίσεις χρήστη"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Потребителски настройки"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Настройки пользователя"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="Користувацькі налаштування"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="ตั้งค่าผู้ใช้"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="用户设置"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="ユーザー設定"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="使用者設定"]:hover > .contents-18-Yxp > svg, .container-3baos1 .button-14-BFJ[aria-label="사용자 설정"]:hover > .contents-18-Yxp > svg {
  -webkit-animation: cv-spin 2.5s linear infinite;
          animation: cv-spin 2.5s linear infinite;
}

@-webkit-keyframes cv-spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes cv-spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
